@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind spacing;

body {
  font-family: Arial, Helvetica, sans-serif;
}

#carousel-ow {
  height: auto;
  max-height: 25%;
  max-width: 2048px;
  margin: auto;
  aspect-ratio: 5;
}

#menuCarousel-ow {
  max-width: 300px;
}

#carousel-mw, #carousel-iw, #carousel {
  height: 100%;
}

.outlet-gmap-wrapper iframe {
  width: 100%;
  height: auto;
  aspect-ratio: 2;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
  cursor: pointer;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  cursor: pointer;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
  cursor: pointer;
}

@media (max-width: 639px) {
  #carousel-ow {
    max-width: 1024px;
    aspect-ratio: 2.5;
  }
}

@media (min-width: 640px) {
  .outlet-gmap-wrapper iframe {
    width: 100%;
    height: auto;
    aspect-ratio: 3.5;
  }
}

@media (min-width: 1024px) {
  .outlet-gmap-wrapper iframe {
    width: 100%;
    height: auto;
    aspect-ratio: 5/4;
  }
}
